body, html{
    background-color: #fff;
    font-family: arial, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    margin: 0;
    padding: 0;

}
h1.titulo{
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color:#49BFB3;
    color: #fff;
    font-family: "Whisper", cursive;
}

.container-fluid a {
    text-decoration: none;
    color: #fff;
}



form {
    display: flex;
    flex-direction: column;
    width: 20%;
    height: 10%;
    text-align: center;
    margin: 0 auto;
    margin-top: 8px;
    padding: 20px;
}

button {
    background-color: #566AA6;
    border: none;
    margin-top: 16px;
}

h1.subTitulo{
    text-align: center;
    margin: 0;
    padding: 10px;
    font-family: "Whisper", cursive;
}

.navbar-custom .dropdown-item:hover {
    background-color: #BF5EAF;
}